<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.zfy.social.qq">

    <application>

        <!-- QQ、Qzone平台 -->
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <!-- QQ、Qzone平台 -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="tencent${qq_id}"/>
            </intent-filter>
        </activity>

    </application>
</manifest>
