<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.zfy.social.wx">

    <application>
        <!--用于发起请求和接受数据，同步生命周期-->
        <activity
            android:name="com.zfy.social.wx.uikit.WxActionActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:exported="true"
            android:taskAffinity="${applicationId}"
            android:launchMode="singleTask">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!--微信-->
        <activity-alias
            android:name="${applicationId}.wxapi.WXEntryActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:exported="true"
            android:taskAffinity="${applicationId}"
            android:launchMode="singleTask"
            android:targetActivity="com.zfy.social.wx.uikit.WxActionActivity"/>
    </application>
</manifest>
